.section__title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 48px;
  letter-spacing: -1.5px;
  line-height: 32px;
}

.contact {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      align-items: flex-start;
    }

    input {
      box-sizing: border-box;
      margin: 0;
      padding: 0 0 0 16px;
      border: 0;
      width: 277.95px;
      height: 48px;
      border-radius: 40px;
      margin-bottom: 30px;
      font-size: 14px;
      font-family: Poppins, sans-serif;
      font-weight: 400;
      line-height: 20px;
      color: #7e7e83;
      box-shadow: none;
      outline: none;
      transition:
        box-shadow 0.3s ease,
        color 0.3s ease;
      resize: none;

      &:focus,
      &:not(:placeholder-shown) {
        color: #000;
      }
    }

    textarea {
      box-sizing: border-box;
      margin: 0 0 30px;
      padding: 14px 0 0 16px;
      border: 0;
      width: 277.95px;
      height: 148px;
      border-radius: 16px;
      font-size: 14px;
      font-family: Poppins, sans-serif;
      font-weight: 400;
      line-height: 20px;
      color: #7e7e83;
      box-shadow: none;
      outline: none;
      resize: none;

      &:focus,
      &:not(:placeholder-shown) {
        color: #000;
      }
    }

    button {
      margin-top: 16px;
      margin-bottom: 48px;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      width: 280px;
      height: 56px;
      border: none;
      color: #000;
      line-height: 27px;
      padding: 16px;
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
      background-color: #fff;
      transition:
        box-shadow 0.3s ease,
        color 0.3s ease;

      &:hover {
        box-shadow: 1px 4px 16px 0 #e8e8f066;
      }

      &:focus,
      &:active {
        box-shadow: 1px 4px 16px 0 #e8e8f0a3;
        outline: none;
      }
    }

    @include on-tablet {
      input,
      textarea {
        width: 288px;
      }

      textarea {
        height: 148px;
      }

      button {
        width: 288px;
      }
    }

    @include on-desktop {
      input,
      textarea {
        width: 411px;
      }

      textarea {
        height: 148px;
      }

      button {
        width: 411px;
      }
    }
  }

  &__info {
    p {
      margin: 0;
    }

    .label {
      margin-bottom: 8px;
      display: block;
    }

    &--element {
      margin-bottom: 24px;
    }

    &--address {
      margin-bottom: 0;
    }
  }

  &__grid {
    display: grid;
    justify-content: center;
    row-gap: 48px;
    text-align: center;

    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto;

    .contact__form {
      order: 1;
    }

    .contact__info {
      text-align: left;
      order: 2;
    }

    @include on-tablet {
      grid-template-columns: 1fr 1fr !important;
      align-items: start;
      column-gap: 80px;
      text-align: left;
    }

    @include on-desktop {
      column-gap: 120px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #eb5757;
    }
  }
}
