.footer {
  position: sticky;
  bottom: 0;

  height: 200px;

  background-position: 82%;
  background-size: cover;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }

  // added z-index for scroll effect
  z-index: 100; // changed z-index value
}
