.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1; // фон под контентом
  pointer-events: none;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
