.top-bar__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition: transform 0.3s ease;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../icons/Icon-Phone-call.png);
  }

  &--menu {
    background-image: url(../icons/Icon-Burger-menu.png);

    &:hover {
      transform: scale(1.25);
      background-image: url(../icons/Icon-Burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../icons/Icon-Close.png);
    &:hover {
      transform: scale(1.25);
    }
  }
}

.phone {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  .icon--phone {
    transition: transform 0.3s ease;
  }

  .phone__number {
    position: absolute;
    right: 100%;
    margin-right: 10px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #fff;
  }

  &:hover {
    .icon--phone {
      transform: scale(1.25);
    }

    .phone__number {
      opacity: 1;
    }
  }
}
