.icon {
  display: block;

  width: $icon-dimensions-small;
  height: $icon-dimensions-small;

  background-position: center;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: $icon-dimensions-big;
    height: $icon-dimensions-big;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
