.main {
  position: relative;
  z-index: 1;
  background-color: #1d1d1d;

  &__content {
    background-color: #1d1d1d;
    display: grid;
    row-gap: 92px;
    padding-top: 60px;
    padding-bottom: 120px;

    @include on-tablet {
      padding-top: 120px;
      padding-bottom: 120px;
      row-gap: 120px;
    }

    @include on-desktop {
      padding-top: 120px;
      padding-bottom: 182px;
    }
  }
}
