.menu {
  overflow: auto;

  box-sizing: border-box;
  height: 100vh;

  font-weight: 600;
  color: $dark-color;
  text-transform: uppercase;

  background-color: $menu-bg-color;

  &__top {
    position: sticky;
    z-index: 1;
    top: 0;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 8px;
    }

    @include on-desktop {
      margin-bottom: 24px;
    }
  }

  &__bottom {
    @include on-desktop {
      margin-left: 1px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    @include content-width;
  }

  &__phone-number {
    display: block;

    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    color: $dark-color;
    text-decoration: none;
    letter-spacing: 0;

    @include on-desktop {
      font-weight: 700;
    }
  }

  &__call-to-order {
    display: block;

    width: fit-content;
    padding-bottom: 7.2px;
    border-bottom: 1px solid $dark-color;
    border-radius: 1px;

    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: $dark-color;
    text-decoration: none;
    letter-spacing: 2px;

    @include on-desktop {
      font-weight: 700;
    }
  }
}
