.logoblack {
  content: url('../images/logo-black.png');

  @include on-tablet {
    width: 130px;
    height: 38px;
  }
}

.menu {
  overflow: auto;
  box-sizing: border-box;

  height: 100vh;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #c2c2c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 27px;
    color: #1d1d1d;
    text-decoration: none;
  }

  &__book-a-test-ride {
    display: block;
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid #1d1d1d;

    font-size: 12px;
    line-height: 16px;
    color: #1d1d1d;
    text-decoration: none;
    letter-spacing: 2px;
  }
}
