.page {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;
  background-color: #1d1d1d;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    z-index: 0;
    background-color: #1d1d1d;
    position: relative;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }

  &:has(&__menu:target) {
    overflow: hidden;
  }
}
