.product {
  &__photo {
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
  }

  &__description {
    font-weight: 400;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
  }
}
