.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: $icon-gap-small;

    @include on-tablet {
      gap: $icon-gap-big;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    width: 130px;
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }

  &__number {
    &--value {
      position: absolute;
      right: 2 * $icon-dimensions-small + $icon-gap-small + 20px;
      transform-origin: right;
      transform: scale(0);

      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      text-wrap: nowrap;
      letter-spacing: 2px;

      transition: transform $effect-duration;

      @include on-tablet {
        right: 2 * $icon-dimensions-big + $icon-gap-big + 20px;
      }
    }
  }

  &__icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    &:has(.icon--phone:hover) .top-bar__number--value {
      transform: scale(1);
    }
  }
}
