/* #region header */
.header {
  height: 100vh;
  background-image: url(/src/images/header-bg-mobile.png);
  background-size: cover;

}

/* #end region */

/* #region icon */
.icon {

}

/* #end region */

/* #region footer */
.footer {

}

/* #end region */
