$dark-color: #1d1d1d;
$menu-bg-color: #c2c2c2;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effect-duration: 0.3s;
$light-color: #fff;
$input-bg-color: #f8f8fa;
$input-placeholder-color: #7e7e83;
$input-text-color: #292929;
$icon-dimensions-small: 24px;
$icon-dimensions-big: 32px;
$icon-gap-small: 24px;
$icon-gap-big: 32px;
$light-color: #fff !default;
